<template>
  <div class="r-cell">
      <slot
        name="cell"
        :text="text"
      >
        {{ text.default }}
      </slot>
  </div>
</template>

<script>
export default {
  name: 'RCell',
  data() {
    return {
      text: {
        default: 'DefaultCellName',
        table: 'tableCellName',
      }
    };
  },
};
</script>

<style scoped>
  .r-cell {
    width: fit-content;
    border: 1px solid green;
  }
</style>
