<template>
  <div class="r-row">
    <slot></slot>
  </div>
</template>

<script>

export default {
  name: 'RRow',
};
</script>

<style scoped>
  .r-row {
    display: flex;
    border: 1px solid red;
  }
</style>
