<template>
  <div class="r-table">
    <slot></slot>
  </div>
</template>

<script>

export default {
  name: 'RTable',
};
</script>

<style scoped>
  .r-table {
    width: 200px;
    height: 200px;
    border: 1px solid black;
  }
</style>
