<template>
  <div id="app">
    <RTable>
      <RRow>
        <RCell>
          <template #cell="{ text }">
            {{ text.table }}
          </template>
        </RCell>
      </RRow>
    </RTable>
  </div>
</template>

<script>
import { RTable, RRow, RCell } from './components';

export default {
  name: 'App',
  components: {
    RTable,
    RRow,
    RCell
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
